---
  email: "user@domain.com"
  password: "supersecret"
  company: your_subdomain
  api_token: 'xxx'
  flow: main
  bot_nick: "Bot"
  live_id: "xxxx"
  poke_url: ""
  pivotal_username: "cool@mail.com"
  pivotal_password: "secret"
  instagram_id: xxx
  instagram_secret: xxx
