---
  email: "user@domain.com"
  password: "supersecret"
  company: your_subdomain
  api_token: 'xxx'
  flows:
    - main
  em_port: 6000
  bot_nick: "Bot"
  live_id: "xxxx"
  poke_url: ""
  pivotal_username: "cool@mail.com"
  pivotal_password: "secret"
  instagram_id: xxx
  instagram_secret: xxx
  default_playlist: 'spotify:user:mynewsdeskdev:playlist:4IOPV1OUlASAeD9C3o08jv'
  spotify_appkey: spotify_appkey.key
  tumblr_consumer_key: "xxxx"
  tumblr_consumer_secret: "xxxx"
  tumblr_oauth_token: 'xxxx'
  tumblr_oauth_token_secret: 'xxxx'
  tumblr_url: "tumblr.tumblr.com"