<!doctype html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
        <link href='http://fonts.googleapis.com/css?family=Lato:300,400,700' rel='stylesheet' type='text/css'>
        <link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">
        <link rel="stylesheet" href="/css/spotify.css">
        <script type="text/javascript" data-main="/js/app.js" src="//cdn.jsdelivr.net/requirejs/2.1.9/require.min.js"></script>
    </head>
    <body>
        <div id="player">
            <a href="" data-player="play"><i class="fa fa-play-circle"></i></a>
            <a href="" data-player="pause"><i class="fa fa-pause"></i></a>
            <a href="" data-player="next"><i class="fa fa-step-forward"></i></a>
            <!--<span class="track">Jumangee - Original Mix - Wayne & Woods (web)</span>-->
        </div>
        <div id="wrapper">
            <div id="search">
                <h2><i class="fa fa-search"></i> Search track</h2>
                <input type="text" id="track" value="year:2013 " placeholder="Search for track...">
                <div class="filter">
                    Filter: <a href="#" data-filter="year:2013 ">year:</a> <a href="#"data-filter="label:axtone ">label:</a> <a href="#" data-filter="genre:house ">genre:</a>
                </div>
                <ul id="result">
                </ul>
            </div>
            <div id="queue">
                <h2><i class="fa fa-music"></i> Current queue</h2>
                <ol>
                    <% Flower::SpotifyCommand.queue.each do |track| %>
                        <li><%= track.pretty %></li>
                    <% end %>
                </ol>
            </div>
        </div>
    </body>
</html>
